button
{
	/*http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu*/
	/*display: inline;*/
	/*margin: 10px 0;*/
	background-color: #00a3cc;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	border: outset;
	width: 90px;
}

h1#main_title
{
	/*position: absolute;
	top: 10%;
	left: 50%;
	margin-right: -50%;*/

	font-size: 5em;
	font-family: "Verdana", sans-serif;
}

div#main_menu_screen
{
	/*Copied this straight from
	http://www.w3.org/Style/Examples/007/center.en.html*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

ul#main_menu
{
	padding: 0px;
}

ul#main_menu li
{
	/*display: inline;*/
	display: block;
	/*padding: 1px;*/
	/*margin-top: 25px;*/
}

ul#main_menu li button
{
	/*http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu*/
	/*display: inline;*/
	/*margin: 10px 0;*/
	background-color: #00a3cc;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	border: outset;
	width: 110px;
	text-align: left;
}

#exit_to_screen
{
	display: none;
	position: relative;
	top: 1px;
}

div#actual_game
{
	display: none;
}

canvas#game_canvas
{
	background: #eee; 
	display: block;
	margin: 0 auto;
}